<h2 class="text-center">
    Sign Up to Our App
</h2>

<div class="col-6 m-auto">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input [(ngModel)]="nameField" type="text" class="form-control" id="name">
        <p>The name is: {{nameField}}</p>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="name@email.com">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password">
    </div>

    <button [disabled]="!formValid()" type="submit" class="btn btn-primary btn-lg">
        Sign Up
    </button>
</div>